node_modules/
db/
bundle/
bundle.zip
.env

# Google Actions
/platforms/googleAction/actions
/platforms/googleAction/custom

# Alexa
/platforms/alexaSkill/ask-resources.json
/platforms/alexaSkill/ask-resources.json
/platforms/alexaSkill/skill-package/interactionModels
